body { 
    font-family: "Arial", sans-serif;
    background-color: #b3b3b3; 
} 

header { 
    background-color: #333; 
    color: white; 
    padding: 10px; 
    text-align: center; 
}

main { 
    margin: 20px;
} 

ul { 
    list-style-type: none; 
    padding: 0; 
} 

li { 
    margin-bottom: 20px; 
} 

.note-link{
    color: white;
    font-size: 15px;
    
}


